h1 {
  color: blue;
  text-align: auto;
  /* font: 48px; */
  font-family: sans-serif;
  font-weight: bold;
}

img {
  float: auto;
  border: 4px solid grey;
  padding: 4px;
  margin: 12px;
}

.main_column {
  width: auto;
  /* border: 1px */
  float: center;
  border: 4px solid blue;
  padding: 4px;
  margin: 12px;
}

.about_column {
  width: auto;
  /* border: 1px */
  float: center;
  border: 4px solid red;
  padding: 4px;
  margin: 12px;
}
.about_column h2 {
  font-style: oblique;
  color: Green
}

#special-line {
  color: red;
  font-style: italic;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
